.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 10%;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}