<form nz-form [formGroup]="loginForm" class="box" (ngSubmit)="submitForm()">
  <h1>Fluxo de compras</h1>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="usuario" placeholder="Usuário" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="senha" placeholder="Senha" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
    [disabled]="loginForm.invalid" (click)="efetuarLogin()">Entrar</button>
</form>