nz-layout {
    width: 100%;
    height: 100%;
}

[nz-menu] {
    line-height: 65px;
}

nz-content {
    padding: 0 50px;
    height: 100%;
}

.inner-content {
    padding: 12px;
    min-height: 280px;
    height: 100%;
}

.icon-column {
    font-size: 20px;
}

.icon-add {
    font-size: 20px;
}

.icon-title {
    font-size: 25px;
}

.icon-add:hover {
    text-decoration: none;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    color: red;
}

[nz-form] {
    margin-bottom: 10px;
}

.botao-sair {
    left: 82%;
}